@import "../../App.scss";

.home-container {
  .hero-container {
    margin-bottom: 14.9rem;
    .home-hero-section {
      display: flex;
      flex-direction: column;
      position: relative;

      a {
        @extend .text-uppercase;
        width: 50%;
      }

      .hero-section-text {
        background-color: #fafafa;
        position: absolute;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h1 {
          padding: 3rem;
        }
        @include media-breakpoint-up(lg) {
          height: 60%;
          width: 40%;
        }
        @include media-breakpoint-down(xl) {
          height: 100%;
        }
        @include media-breakpoint-down(lg) {
          width: 100%;
        }
        @include media-breakpoint-down(md) {
          height: 100%;
          h1 {
            font-size: 2.2rem;
          }
          button {
            margin-bottom: 6rem;
          }
        }
      }
    }
  }
  .card-container {
    .card-image {
      img {
        height: 100%;
        width: auto;
      }
    }
    .col-card-content {
      display: flex;
      justify-content: flex-end;
      .card-content {
        padding: 5rem 0rem;
      }
    }
  }
  @include media-breakpoint-up(xl) {
    .card-content {
      width: 70%;
      .btn {
        width: 50%;
      }
    }
  }

  .home-card-btn {
    &.btn {
      align-self: center;
      width: 50%;
      margin-top: 2.4rem;
      @extend .text-uppercase;
    }
  }
}
