@import "../../App.scss";

.contact-form-container {
  .form-label {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0.5rem 0rem;
  }
  input,
  textarea {
    min-height: 4rem;
    &::placeholder {
      font-size: 1.2rem;
    }
  }
  button {
    margin: 2.4rem 0rem;
    padding: 1.7rem 4.4rem;
  }
}
