@import "../../App.scss";

.layout-header {
  margin-top: 6.4rem;
  margin-bottom: 9.4rem;
  padding: 0rem 16.5rem;
  @include media-breakpoint-down(lg) {
    padding: 0rem 10rem;
  }

  .header-logo-container {
    width: 100vw;
    display: flex;
    justify-content: space-between;
  }
  .navigation-links {
    gap: 4.2rem;
  }
  &.navbar-light {
    .navbar-nav {
      .nav-link {
        @extend .text-uppercase;
        color: $primary-dark;
        &:hover,
        &:focus {
          color: $primary-light;
        }
      }
      .show > .nav-link,
      .nav-link.active {
        color: $primary-light;
      }
    }
  }
}
