@import "../../assets/sass/colors.scss";

.header-logo-container {
  width: 100vw;
  display: flex;
  justify-content: space-between;
}

.layout-header {
  .navbar-light {
    .navbar-nav {
      .nav-link {
        &:hover,
        &:focus {
          color: $primary-light;
        }
      }
      .show > .nav-link,
      .nav-link.active {
        color: $primary-light;
      }
    }
  }
}
