@import "./assets/sass/colors.scss";

@import "~bootstrap/scss/bootstrap";
@import "./assets/sass/buttons.scss";
@import "./assets/sass/typography.scss";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: $secondary-background;
}
