$mynewcolor: $primary-middle-dark;

.btn {
  border-radius: 0px;
  padding: 1.7rem 2.4rem;
}
.btn-primary {
  @include button-variant(
    $background: $primary-middle-dark,
    $border: $primary-middle-dark,
    $color: #ffffff,
    $hover-background: $primary-light,
    $hover-border: $primary-light,
    $hover-color: #ffffff,
    $active-background: $primary-light,
    $active-border: $primary-light,
    $active-color: #ffffff
  );
}

.btn-outline-primary {
  @include button-outline-variant(
    $color: $primary-dark,
    $color-hover: #fafafa,
    $active-background: $primary-dark,
    $active-border: $primary-dark,
    $active-color: #fafafa
  );
}
