$mynewcolor: $primary-middle-dark;

.btn {
  border-radius: 0px;
  font-size: 1.2rem;
  padding: 1.7rem 2.4rem;
}
.btn-primary {
  @include button-variant(
    $background: $primary-middle-dark,
    $border: $primary-middle-dark,
    $color: #ffffff,
    $hover-background: $primary-light,
    $hover-border: $primary-light,
    $hover-color: #ffffff,
    $active-background: $primary-light,
    $active-border: $primary-light,
    $active-color: #ffffff
  );
}
